<body>
  <div class="content">
    <div class="header">
      <h1 class="title">Hi, I'm Logan Rose</h1>
      <h2 class="subtitle">This is my interactive resume</h2>
      <p>
        I am a fourth year computer science student at The University of Ottawa
        in Ontario, Canada. I am currently seeking a placement for my final COOP
        term in the summer of 2022. Over the course of my studies, I have had
        the opportunity to complete two COOP terms, both of which have provided
        me with a diverse range of skills. I am excited to expand my
        understanding in the areas these placements have provided me with
        experience, and look forward to learning new skills and technologies!
      </p>
    </div>
    <div class="contact">
      <a href="https://github.com/logan-rose">GitHub</a>
      <a href="https://www.linkedin.com/in/logan-rose/">Linkedin</a>
      <a href="mailto:logan.rose0329@gmail.com">Email</a>
      <a href="tel:+1-902-969-0732">Phone</a>
    </div>
    <div class="skills">
      <h2>Skills</h2>
      <mat-chip-list>
        <mat-chip (click)="openDialog()">Angular</mat-chip>
        <mat-chip>NestJS</mat-chip>
        <mat-chip>TypeScript</mat-chip>
        <mat-chip>Python</mat-chip>
        <mat-chip>Java</mat-chip>
        <mat-chip>C#</mat-chip>
        <mat-chip>Node</mat-chip>
        <mat-chip>RxJs</mat-chip>
        <mat-chip>PostgreSQL</mat-chip>
        <mat-chip>TypeORM</mat-chip>
        <mat-chip>FireBase</mat-chip>
        <mat-chip>Docker</mat-chip>
        <mat-chip>REST APIs</mat-chip>
        <mat-chip>Git</mat-chip>
        <mat-chip>Agile Development</mat-chip>
      </mat-chip-list>
    </div>
    <div class="Experience">
      <h2>Experience</h2>
      <mat-card>
        <div class="horizontal-row">
          <div class="title-subtitle">
            <h4>Full Stack Developer Intern&nbsp;&nbsp;&nbsp;</h4>
            <a href="https://www.vectorsolv.com/">VectorSolv Inc</a>
          </div>
          <p>Sept 2021 - Dec 2021</p>
        </div>
        <p>
          Developed a customizable data science dashboard in which users can
          select data and charts to display, customize the size and position of
          charts, add custom data filters, save and share their dashboard
          configuration with other users.
        </p>
        <mat-chip-list>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NestJS</mat-chip>
          <mat-chip>PostgreSQL</mat-chip>
          <mat-chip>Apache Echarts</mat-chip>
        </mat-chip-list>
      </mat-card>
      <mat-card>
        <div class="horizontal-row">
          <div class="title-subtitle">
            <h4>COOP Software Developer &nbsp;&nbsp;&nbsp;</h4>
            <a href="https://www.canada.ca/en/privy-council.html"
              >Privy Council Office</a
            >
          </div>
          <p>Jan 2021 - Aug 2021</p>
        </div>
        <p>
          Responsible for maintaining and developing new features for a news
          aggregator. One of the main features developed was adding social media
          monitoring to the platform. Gained experience working with Angular,
          .Net Core and Microsoft SQL Server.
        </p>
        <mat-chip-list>
          <mat-chip>Angular</mat-chip>
          <mat-chip>.NET Core</mat-chip>
          <mat-chip>Microsoft SQL Server</mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
    <div class="Education">
      <h2>Education</h2>

      <mat-card>
        <div class="horizontal-row">
          <div class="title-subtitle">
            <h4>University of Ottawa&nbsp;&nbsp;&nbsp;</h4>
            <a
              href="https://catalogue.uottawa.ca/en/undergrad/honours-bsc-computer-science-management-entrepreneurship-option/#programrequirementstext"
              >Hon. BSc Computer Science</a
            >
          </div>
          <p>Sept 2018 - Present</p>
        </div>
        <p>
          <a href="https://international.uottawa.ca/en/grading-system"
            >8.2 CGPA (~3.7 on 4.0 scale)</a
          ><br />
          <a href="https://englishdebatingsociety.ca/"
            >President of English Debating Society (2021)</a
          ><br />
          Relevant Course Material: Data Structures & Algorithms, Databases,<br />
          Formal Languages, Software Architecture, UI/UX Design<br />
        </p>
      </mat-card>
    </div>
    <div class="Projects">
      <h2>Projects</h2>

      <mat-card>
        <div class="horizontal-row">
          <div class="title-subtitle">
            <h4>
              <a href="https://github.com/Logan-Rose/new-trader"
                >Cryptocurrency Trading Bot</a
              >
              &nbsp;
            </h4>
          </div>
          <p>February 2021 - Present</p>
        </div>

        <p>
          Developed a bot that buys and sells cryptocurrency according to a user
          defined strategy. Bot includes a web interface displaying graphs of
          candlestick data, trading volume, and average price of selected
          cryptocurrency pairs.
        </p>
        <mat-chip-list>
          <mat-chip>Angular</mat-chip>
          <mat-chip>NestJS</mat-chip>
          <mat-chip>TypeScript</mat-chip>
        </mat-chip-list>
      </mat-card>

      <mat-card>
        <div class="horizontal-row">
          <div class="title-subtitle">
            <h4>
              <a href="https://github.com/Logan-Rose/new-trader"
                >Debate Partner Assignment Tool</a
              >
              &nbsp;
            </h4>
          </div>
          <p>January 2021 - March 2021</p>
        </div>

        <p>
          Developed a web app that assigns debate partners, teams, and judges
          for British and Canadian Parliamentary debate formats., including
          functionality for users to rank their preferred debate partners
        </p>
        <mat-chip-list>
          <mat-chip>VanillaJS</mat-chip>
          <mat-chip>FireBase</mat-chip>
          <mat-chip>HTML/CSS</mat-chip>
        </mat-chip-list>
      </mat-card>
    </div>
  </div>
</body>
